In [1]:
import pandas as pd
ETF_NAME = './hist_data/stocks/ERX.txt'

df = pd.read_csv(ETF_NAME, sep=',')

df['Date'] = pd.to_datetime(df['Date'])
df.index = range(len(df))

df.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume
0,0,2015-08-07,365.399994,374.000000,346.100006,349.600006,311.230042,247310.0
1,1,2015-08-10,353.100006,383.799988,352.700012,383.200012,341.142395,248230.0
2,2,2015-08-11,361.899994,386.600006,358.500000,385.600006,343.278961,230260.0
3,3,2015-08-12,379.899994,409.500000,374.899994,406.600006,361.974091,287590.0
4,4,2015-08-13,397.000000,403.200012,386.399994,388.700012,346.038727,195750.0